* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Open Sans', Arial, sans-serif;
    background: url(bg.png);
}
#topbar{
    padding: 0 3%;
    color: #737373;
    background: #000;
}
#topbar a{
    display: inline-block;
    color: #737373;
    text-decoration: none;
    padding: 6px 5px;
}
#topbar a:hover{
    cursor: pointer;
    background: none;
}
#topbar a{
    display: inline-block;
    color: #2c99f3;
    text-decoration: none;
    padding: 6px 5px;
}
#topbar a:hover{
    background: #222;
}
#topbar .topbar-left{
    float: left;
}
#topbar .topbar-right{
    float: right;
    text-align: right;
}
#topbar .topbar-right a{
    font-size: 1.3em;
    padding: 2px 5px 4px;
}
header{
    height: 80px;
    padding: 0 3%;
    color: #fff;
    background-color: #225469;
    background: -webkit-gradient(linear,left top, left bottom,from(#2c6983),to(#183c4b));
    background: -webkit-linear-gradient(top,#2c6983,#183c4b);
    background: -moz-linear-gradient(top,#2c6983,#183c4b);
    background: -o-linear-gradient(top,#2c6983,#183c4b);
    background: linear-gradient(top,#2c6983,#183c4b);
    border-bottom: 1px solid #000;

}
header #logo{
    float: left;
    height: 80px;
    padding-left: 75px; 
    background: url(bg-logo.svg) no-repeat;
    background-size: 70px;
    background-position: left center;
}
header #logo h1 a{
    margin: 0px;
    position: relative;
    top: -6px;
    font-size: 68px;
}
header #logo h2 a{
    display: block;
    margin: 0px;
    margin-top: 3px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.425em;
}
header #logo h1 a, header #logo h2 a {
    color: white;
    text-decoration: none;
}
header nav{
    float: right;
    height: 80px;
    font-size: 1.2em;
    text-transform: uppercase;
}
header nav ul{
    margin: 0px;
    padding: 0px;
    line-height: 80px;
}
header nav li{
    display: inline;
    margin: 0px 5px;
}
header nav li.selected{
    border-bottom: 2px solid #ddd;
}
header nav li:hover{
    border-bottom: 2px solid #1c80d4;
}
header nav a{
    color: #fff;
    text-decoration: none;
}


article, .box {
    border-radius: 4px;
    border-top: 7px solid #1c619a;
    background: #fff;
    box-shadow: 3px 3px 5px #888;
}

section {
    max-width: 1300px;
    margin: 2% auto;
    position: relative;
}
article {
    padding: 20px;
}

#homepage{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}
#homepage .homeitem{
    float: left;
    width: 20%;
    min-width: 200px;
    text-align: center;
}
#homepage .homeitem img{
    width: 80%;
    margin: auto;
}
#homepage .homeitem h2{
    color: #1c619a;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-size: 1.5em;
    margin: 0.80em 0 0.80em 0;
}
#homepage .homeitem p{
    margin: 0px;
    padding: 0.2em;
}
#homepage .homeitem b{
    color: #1c619a;
}
#homepage .homeitem ul{
    margin: 0;
    padding: 0 1.5em;

}
#homepage .homeitem ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.homehalf {
    display: block;
    width: 49%;
    margin-left: 2%;
    float: left;
}
.homehalf:first-child {
    margin-left: 0;
}



#homecreate{
    text-align: center;
}
#homecreate a{
    display: inline-block;
    color: #fff;
    padding: 15px 40px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #225469;
    background: -webkit-gradient(linear,left top, left bottom,from(#2c6983),to(#183c4b));
    background: -webkit-linear-gradient(top,#2c6983,#183c4b);
    background: -moz-linear-gradient(top,#2c6983,#183c4b);
    background: -o-linear-gradient(top,#2c6983,#183c4b);
    background: linear-gradient(top,#2c6983,#183c4b);
}
#homecreate a:hover{
    background: #225469;
}



section article {
    line-height: 1.4em;
}

section h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #1c619a;
}
section h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
section h2:first-child {
    margin-top: 0;
}
section h3 {
    font-size: 1.3em;
    margin-top: 1em;
    margin-left: 1em;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0.5em;
}

pre {
    font-family: monospace;
    margin-top: 1em;
    margin-bottom: 1em;
}



section.centeredpage {
    border-radius: none;
    border: 0;
    padding: 0px;
    background: transparent;
    box-shadow: none;
}
section.centeredpage article {
    border-radius: 4px;
    border-top: 7px solid #1c619a;
    background: #fff;
    box-shadow: 1px 1px 3px #aaa;
}
section.centeredpage article form{
    text-align: center;
    padding: 0px 20px 20px;
}
section.centeredpage article form input{
    margin: auto;
    width: 80%;
}
section.centeredpage h1 {
    padding: 20px 20px 0px;
}

section.centeredpage article.links h2 {
    color: #1c619a;
    padding: 20px;
    margin: 0px;
}
section.centeredpage article.links {
    margin: 20px auto 0 auto;
}
section.centeredpage article.links ul{
    padding: 0px 20px 20px;
}
section.centeredpage article.links ul li{
    list-style: none;
}
section.centeredpage article.links ul li:before{
    content: "→ ";
}
section.centeredpage article.links a{
    text-decoration: none;
}
section.centeredpage article.links a:hover{
    text-decoration: underline;
}

section#loginpage{
    max-width: 300px;
}
section#pwresetpage {
    max-width: 400px;
}

section#signuppage article.links {
    margin: 0 0 20px 0;
}
section#signuppage article{
    float: left;
    width: 60%;
}
section#signuppage article.rightsignup{
    float: right;
    width: 37%;
}

section form label {
    font-weight: bold;
    color: #1c619a;
}
section form input {
    border: 1px solid rgb(218, 223, 225);
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
section form input[type=submit] {
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    background-color: #225469;
    background: -webkit-gradient(linear,left top, left bottom,from(#2c6983),to(#183c4b));
    background: -webkit-linear-gradient(top,#2c6983,#183c4b);
    background: -moz-linear-gradient(top,#2c6983,#183c4b);
    background: -o-linear-gradient(top,#2c6983,#183c4b);
    background: linear-gradient(top,#2c6983,#183c4b);
}
section form input[type=submit]:hover {
    background: #225469;
    cursor: pointer;
}

section form.vert label {
    display: block;
    margin-top: 24px;
    margin-bottom: 6px;
}
section form.vert input {
    display: block;
    padding: 8px 5px;
}
section form.vert .inputhelp {
    display: inline-block;
    margin: 0;
    color: #606060;
    font-size: 0.8em;
}
section form.vert input[type=submit]{
    margin-top: 20px;
    padding: 9px 30px;
}

section form.inline {
    margin-top: 10px;
    margin-bottom: 10px;
}
section form.inline label, section form.inline input {
    display: inline-block;
    padding: 2px 6px;
}
section form.inline input[type=submit] {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.profileform {
    display: inline;
}
.profileform input[type=submit], .profileform input[type=text] {
    display: inline;
    margin: 0;
    padding: 4px 8px;
}

form.largeform label {
    display: inline-block;
    float: left;
    width: 140px;
    padding: 4px 5px;
    height: 24px;
    clear: both;
    font-weight: bold;
    color: #1c619a;
}
form.largeform label[title] {
    border-bottom: 1px dotted black;
}
form.largeform input {
    height: 22px;
    min-width: 160px;
    display: block;
    padding: 4px 5px;
    margin: 2px 0 0 160px;
    border: 1px solid rgb(218, 223, 225);
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
form.largeform select {
    display: block;
    min-width: 180px;
    padding: 3px 5px;
    margin: 2px 0 0 160px;
    height: 28px;
}
form.largeform input[type=checkbox] {
    border: 0;
    padding: 0;
    margin: 11px 2px 10px 160px;
}
form.largeform input[type=submit] {
    margin-top: 1em;
    padding: 6px 16px;
    margin: 2px 0 0 0;
    height: 30px;
    clear: both;
}

article {
    margin-bottom: 30px;
}

section article.two {
    float: left;
    width: 49%;
    min-width: 200px;
    display: inline-block;
}

footer{
    clear: both;
    color: #1c619a;
    text-align: center;
    border-top: 1px dotted #1c619a;
}
footer a{
    color: #1c619a;
}
footer p {
    margin-top: 0.6em;
}


table td {
    padding: 2px 6px 2px 6px;
}
h3 {
    margin-top: 0.6em;
}
hr {
    border: 0;
    border-top: 1px solid #1c619a;
    height: 0;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrap{
    margin: auto;
    padding: 0 3%;
}
a{
    color: #1c619a;
}
article p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
article ul {
    padding-left: 20px;
    list-style-type: disc;
}
article ul ul ul {
    list-style-type: circle;
}

.message {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.message p {
    font-weight: bold;
    padding: 6px;
}
.message p.info {
    border: 1px solid #1c619a;
    background-color: #D2D9DF;
}
.message p.error {
    border: 1px solid #f1174b;
    background-color: #EDDFE2;
}

figure {
    display: inline-block;
    width: 49%;
    height: 49%;
}

.account-box {
    display: block;
    padding: 5px 10px 5px 10px;
    background: #E6F5FF;
    margin: 20px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #72B6ED;
    box-shadow: 1px 1px 3px #aaa;
}

ul.account-box {
    padding-left: 30px;
}

.account-box hr {
    border: 0;
    border-top: 1px solid #72B6ED;
    height: 0;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
    #topbar .topbar-left{
        display: none;
    }
    header{
        height: 120px;
    }
    header nav{
        float: left;
        width: 100%;
    }
    header nav ul{
        text-align: center;
        line-height: 40px;

    }
}

#gateways table {
    width: 100%;
}
#gateways table thead td {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    border: 1px solid #bbb;
    border-top: 0;
}
#gateways table thead tr td:first-child {
    border-left: 0;
}
#gateways table thead tr td:last-child {
    border-right: 0;
}
#gateways table tbody tr td:first-child {
    font-size: 1.2em;
    border-left: 0;
}
#gateways table tbody tr td {
    padding: 10px;
    border: 1px solid #bbb;
}
#gateways table tbody tr td:first-child {
    border-left: 0;
}
#gateways table tbody tr td:last-child {
    border-right: 0;
}
#gateways table tbody tr:last-child td {
    border-bottom: 0;
}
#gateways table tbody tr:nth-child(even) {
    background: #eee;
}
#gateways table tr td:not(:first-child) {
    width: 20%;
}
#gateways table tr td .td-info {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
}

 /* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(OpenSans-Extrabold.woff) format('woff');
}
