body{
    margin: 0 auto;
    font-family: 'Open Sans', Arial, sans-serif;
    background: url(bg.png);
}
#topbar{
    padding: 0 3%;
    color: #737373;
    background: #000;
}
#topbar a{
    display: inline-block;
    color: #737373;
    text-decoration: none;
    padding: 6px 5px;
}
#topbar a:hover{
    cursor: pointer;
    background: none;
}
#topbar a{
    display: inline-block;
    color: #2c99f3;
    text-decoration: none;
    padding: 6px 5px;
}
#topbar a:hover{
    background: #222;
}
#topbar .topbar-left{
    float: left;
}
#topbar .topbar-right{
    float: right;
    text-align: right;
}
#topbar .topbar-right a{
    font-size: 1.3em;
    padding: 2px 5px 4px;
}
header{
    height: 80px;
    padding: 0 3%;
    color: #fff;
    background-color: #225469;
    background: -webkit-gradient(linear,left top, left bottom,from(#2c6983),to(#183c4b));
    background: -webkit-linear-gradient(top,#2c6983,#183c4b);
    background: -moz-linear-gradient(top,#2c6983,#183c4b);
    background: -o-linear-gradient(top,#2c6983,#183c4b);
    background: linear-gradient(top,#2c6983,#183c4b);
    border-bottom: 1px solid #000;

}
header #logo{
    float: left;
    height: 80px;
    padding-left: 70px; 
    background: url(bg-logo.svg) no-repeat;
    background-size: 70px;
    background-position: left center;
}
header #logo h1 a{
    margin: 0px;
    margin-top: -17px;
    font-size: 68px;
}
header #logo h2 a{
    display: block;
    margin: 0px;
    margin-top: -6px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.425em;
}
header #logo h1 a, header #logo h2 a {
    color: white;
    text-decoration: none;
}
header nav{
    float: right;
    height: 80px;
    font-size: 1.2em;
    text-transform: uppercase;
}
header nav ul{
    margin: 0px;
    padding: 0px;
    line-height: 80px;
}
header nav li{
    display: inline;
    margin: 0px 5px;
}
header nav li:hover{
    border-bottom: 2px solid #1c80d4;
}
header nav a{
    color: #fff;
    text-decoration: none;
}
section{
    max-width: 1300px;
    margin: 3% auto;
    padding: 20px;
    border-radius: 4px;
    border-top: 7px solid #1c619a;
    background: #fff;
}
section#homepage{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}
section#homepage article{
    float: left;
    width: 20%;
    min-width: 200px;
    text-align: center;
}
section#homepage article img{
    width: 80%;
    margin: auto;
}
section#homepage article h2{
    color: #1c619a;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-size: 1.5em;
    margin: 0.80em 0 0.80em 0;
}
section#homepage article p{
    margin: 0px;
    padding: 0.2em;
}
section#homepage article b{
    color: #1c619a;
}
section#homepage article ul{
    margin: 0;
    padding: 0 1.5em;

}
section#homepage article ul li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

section#homecreate{
    text-align: center;
    border-top: none;
    background: #fff;
}
section#homecreate a{
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    margin-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #225469;
    background: -webkit-gradient(linear,left top, left bottom,from(#2c6983),to(#183c4b));
    background: -webkit-linear-gradient(top,#2c6983,#183c4b);
    background: -moz-linear-gradient(top,#2c6983,#183c4b);
    background: -o-linear-gradient(top,#2c6983,#183c4b);
    background: linear-gradient(top,#2c6983,#183c4b);
}
section#homecreate a:hover{
    background: #225469;
}

section article {
    line-height: 1.1em;
}

section article h1{
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #1c619a;
}
section article h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1.5em;
}
section article h3 {
    font-size: 1.3em;
    margin-top: 0.6em;
    margin-left: 1em;
    font-weight: normal;
    font-style: italic;
}

pre {
    font-family: monospace;
    margin-top: 1em;
    margin-bottom: 1em;
}

section#signuppage{
    padding: 0px;
    border-radius: none;
    border-top: none;
    background: none;
}
section#signuppage h1{
    padding: 20px 20px 0px;
}
section#signuppage form{
    padding: 0px 20px 20px;
}
article.signup{
    float: left;
    width: 60%;
    border-radius: 4px;
    border-top: 7px solid #1c619a;
    background: #fff;
}
article.rightsignup{
    float: right;
    width: 37%;
    border-radius: 4px;
    border-top: 7px solid #1c619a;
    background: #fff;
}
article.rightsignup h2{
    color: #1c619a;
    padding: 20px;
    margin: 0px;
}
article.rightsignup ul{
    margin: 0px;
    padding: 0px 20px 20px;
}
article.rightsignup ul li{
    list-style: none;

}
article.rightsignup ul li:before{
    content: "→ ";
}
article.rightsignup a{
    text-decoration: none;
}
article.rightsignup a:hover{
    text-decoration: underline;
}


section#loginpage{
    padding: 0px;
    border-radius: none;
    border-top: none;
    background: none;
}
section#loginpage h1{
    padding: 20px 20px 0px;
}
section#loginpage form{
    padding: 0px 20px 20px;
}
article.login{
    max-width: 300px;
    margin: auto;
    border-radius: 4px;
    border-top: 7px solid #1c619a;
    background: #fff;
}
article.login form{
    text-align: center;
}
article.login form input{
    margin: auto;
    width: 80%;
}
article.linkslogin{
    max-width: 300px;
    margin: 20px auto;

    border-radius: 4px;
    border-top: 7px solid #1c619a;
    background: #fff;
}
article.linkslogin h2{
    color: #1c619a;
    padding: 20px;
    margin: 0px;
}
article.linkslogin ul{
    margin: 0px;
    padding: 0px 20px 20px;
}
article.linkslogin ul li{
    list-style: none;

}
article.linkslogin ul li:before{
    content: "→ ";
}
article.linkslogin a{
    text-decoration: none;
}
article.linkslogin a:hover{
    text-decoration: underline;
}


section form label {
    font-weight: bold;
    color: #1c619a;
}
section form input {
    border: 1px solid rgb(218, 223, 225);
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
section form input[type=submit] {
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    background-color: #225469;
    background: -webkit-gradient(linear,left top, left bottom,from(#2c6983),to(#183c4b));
    background: -webkit-linear-gradient(top,#2c6983,#183c4b);
    background: -moz-linear-gradient(top,#2c6983,#183c4b);
    background: -o-linear-gradient(top,#2c6983,#183c4b);
    background: linear-gradient(top,#2c6983,#183c4b);
}
section form input[type=submit]:hover {
    background: #225469;
    cursor: pointer;
}

section form.vert label {
    display: block;
    margin-top: 1em;
    margin-bottom: 6px;
}
section form.vert input {
    display: block;
    padding: 8px 5px;
}
section form.vert .inputhelp {
    display: inline-block;
    margin: 0;
    color: #606060;
    font-size: 0.8em;
}
section form.vert input[type=submit]{
    margin-top: 10px;
    padding: 7px 30px;
}

.profileform {
    display: inline;
}
.profileform input[type=submit], .profileform input[type=text] {
    display: inline;
    margin: 0;
    padding: 4px 8px;
}

form.largeform label {
    display: inline-block;
    float: left;
    width: 140px;
    padding: 4px 5px;
    clear: both;
    font-weight: bold;
    color: #1c619a;
}
form.largeform label[title] {
    border-bottom: 1px dotted black;
}
form.largeform input {
    height: 16px;
    display: block;
    padding: 4px 5px;
    margin: 2px 2px 2px 160px;
    border: 1px solid rgb(218, 223, 225);
    border-radius: 3px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}
form.largeform input[type=checkbox] {
    border: 0;
    padding: 0;
    margin: 8px 2px 8px 160px;
}
form.largeform input[type=submit] {
    margin-top: 1em;
    padding: 6px 16px;
    height: 30px;
}

article {
    margin-bottom: 30px;
}

section article.two {
    float: left;
    width: 49%;
    min-width: 200px;
    display: inline-block;
}

footer{
    color: #1c619a;
    text-align: center;
    border-top: 1px dotted #1c619a;
}
footer a{
    color: #1c619a;
}
footer p {
    margin-top: 0.6em;
}


table td {
    padding: 2px 6px 2px 6px;
}
h3 {
    margin-top: 0.6em;
}
hr {
    border-top: 1px solid #1c619a;
    height: 0;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrap{
    margin: auto;
    padding: 0 3%;
}
a{
    color: #1c619a;
}
article p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
article ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
    list-style-type: disc;
}

.message {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.message p {
    font-weight: bold;
    padding: 6px;
}
.message p.info {
    border: 1px solid #1c619a;
    background-color: #D2D9DF;
}
.message p.error {
    border: 1px solid #f1174b;
    background-color: #EDDFE2;
}

figure {
    display: inline-block;
    width: 49%;
    height: 49%;
}

@media screen and (max-width: 550px) {
    #topbar .topbar-left{
        display: none;
    }
    header{
        height: 120px;
    }
    header nav{
        float: left;
        width: 100%;
    }
    header nav ul{
        text-align: center;
        line-height: 40px;

    }
}


 /* FONTS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(OpenSans-Extrabold.woff) format('woff');
}
